<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta charset="utf-8">
    <title> {{file_name}} | MalluFiles </title>
    <meta name="description" content="Free High Quality Series And Movies Download 🍿.Mallufiles Group Provide All Language,Genre Movie For Free. No Ads Join Fast...">
    <meta name="keywords" content="free, download,movies,series">
    <meta property="og:site_name" content="MalluFiles™ - Free watch online & download video">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{file_name}}">
    <meta property="og:url" content="{{file_url}}">
    <meta property="og:image" content="https://kuttudb.github.io/hostingly21/img/icon.avif">
    <meta property="og:description" content="Free High Quality Series And Movies Download 🍿.Mallufiles Group Provide All Language,Genre Movie For Free. No Ads Join Fast...">
    
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
   
    <link rel="shortcut icon" href="https://kuttudb.github.io/hostingly21/img/icon.avif" type="image/x-icon">
    <link rel="stylesheet" href="https://kuttudb.github.io/hostingly21/css/style.css">
    <link rel="stylesheet" href="https://kuttudb.github.io/hostingly21/css/engine.css">
    <meta name="theme-color" content="#FF4D5F">
    <script src="https://cdn.jsdelivr.net/npm/@oplayer/core@latest/dist/index.ui.js"></script>
  
  <body>
    <div class="wrap" >
      <header id="header" class="header sticky anim mhcolor">
        <div class="header-in flex-row flex-middle wrap-center">
          <a href="#" class="logo"><img src="https://kuttudb.github.io/hostingly21/ilogo.png" alt="MalluFiles Logo"><sup data-fancybox="" data-src="#language-wrap" title="Choose language"><img src="https://kuttudb.github.io/hostingly21/img/in.png" class="icon icon-r" alt="hi">in</sup></a>
          <div class="btn-login js-login">
            <div class="login-avatar img-fit">
              <a href="https://t.me/cyclonickfilterbot"><img src="https://kuttudb.github.io/hostingly21/img/Telegram-icon-on-transparent-background-PNG.png" title="" alt=""></a>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="wrap-main wrap-center">
      <div class="content">
        <div class="sect sect-bg">
          <div class="sect-content">
            <div id="dle-content">
              <article class="article full ignore-select">
                <div class="sect-header flex-coll">
                  <div class="sect-title flex-fx flex-coll flex-middle">
                    {{file_name}}
                  </div>
                  <div id="oplayer" class="oplayer-con"></div>
                </div>
                <div class="mylists-select mylists-drop">
                  <div class="mylists-selectin">
                    <a onclick="lazyDownload()" style="background-color: red; color: white;" id="mylists-trigger1060" class="ffav icon-left mylists-trigger1060 ripple-effect"><span><img class="icon" src="https://kuttudb.github.io/hostingly21/img/download-box.svg"><b>Download Now </b></span></a>
                    <ul class="mylists-switch" data-id="1060"></ul>
                  </div>
                </div>
                <div class="flex-row">
                  <a onclick="mx_player()" class="flex-fx ffav icon-left ripple-effect" title="mx"><img class="icon" src="https://kuttudb.github.io/hostingly21/img/mx-player-icon.png">Play on MX
                  player</a> <a onclick="vlc_player()" class="flex-fx ffav icon-left ripple-effect" title="mx"><img class="icon" src="https://kuttudb.github.io/hostingly21/img/VLC_icon.png">Play on VLC Player</a>
                </div>
                <div class="flex-row">
                  <a onclick="playit_player()" class="flex-fx ffav icon-left ripple-effect" title="mx"><img class="icon" src="https://kuttudb.github.io/hostingly21/img/float_logo.43e9c34d.png">Play on
                  PLAYit</a> <a onclick="s_player()" class="flex-fx ffav icon-left ripple-effect" title="mx"><img class="icon" src="https://kuttudb.github.io/hostingly21/img/images.jpeg">Play on S
                  Player</a>
                </div>
                <div class="flex-row">
                  <a onclick="km_player()" class="flex-fx ffav icon-left ripple-effect" title="mx"><img class="icon" src="https://kuttudb.github.io/hostingly21/img/The_KMPlayer_icon_(since_v3.2) (1).png">Play on KM player</a> <a onclick="hd_player()" class="flex-fx ffav icon-left ripple-effect" title="mx"><img class="icon" src="https://kuttudb.github.io/hostingly21/img/icon.avif">Play on U Player</a>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="finfo">
          <div class="flex-row flex-fstart">
            <div>
              <a href="#" id="checktxt"><b>{{file_name}}</p></b></a><br>
              <br>
              <ul class="flist flex-row flex-start">
                <div id="fileinfo"></div>
              </ul>
            </div>
            <div class="berrors">
              <b>Video not playing / audio issue?</b><br>
              <br>
              Possibly because your browser or the player doesn't support codec.<br>
              Download / stream on video player apps.
            </div>
            <div class="flex-row flex-middle">
              <div class="fsubtitle">
                Disclaimer:
              </div>
              <div class="fdesc clr full-text clearfix">
                This website only provide service that help you play your video online without downloading. This website does not provide a storage/dissemination function. You can report the video
                that contains a problem like copyright, porn, violence, etc, <a href="mailto:hashtag.malluteam@gmail.com">on Our email</a>
              </div>
            </div>
            <div class="flex-row">
              <div class="sect-header sect-mb flex-row flex-start">
                <div class="sect-title" style="margin-right: 20px;">
                  Have a movie or series you'd like to see on Mallufiles?
                </div>
              </div><a href="https://t.me/mallufiles_chat"><button type="button" class="sug-btn">Send Suggestion</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer sect-bg wrap-center">
      <div class="footer-in sect-bg flex-row flex-middle">
        <div class="footer-left">
          2023 MalluFiles™
        </div>
        <ul class="footer-menu flex-fx flex-row flex-end">
          
          <li>
            <a href="https://t.me/mallufiles_chat">Feedback</a>
          </li>
          <li>
            <a href="https://t.me/mallufiles_chat">DMCA</a>
          </li>
          <li>
            <a href="https://t.me/mallufiles_chat" class="mdl-request">Request</a>
          </li>
        </ul>
      </div>
    </footer>
    
    <script>
    // Configuration for the player
    const playerConfig = {
    source: {
      src: '{{file_url}}',
      
    }
    };

    // Configuration for the OUI (OPlayer UI)
    const uiConfig = {
    fullscreen: true,
    coverButton: true,
    miniProgressBar: true,
    autoFocus: true,
    forceLandscapeOnFullscreen: true,
    screenshot: false,
    pictureInPicture: true,
    showControls: 'always',
    keyboard: { focused: true, global: false },
    settings: ['loop'],
    theme: {
      primaryColor: 'red',
      watermark: {
        src: 'https://kuttudb.github.io/hostingly21/img/fontbolt.png',
        style: {
          position: 'absolute',
          top: '10px',
          right: '4px',
          width: '40px',
          height: 'auto'
        },
        attrs: {
          class: 'watermark'
        }
      }
    },
    speeds: ['2.0', '1.75', '1.25', '1.0', '0.75', '0.5'],
    slideToSeek: 'long-touch',
    controlBar: false,
    topSetting: false,

    };

    // Create the OPlayer instance
    const oplayerInstance = OPlayer.make('#oplayer', playerConfig)
    .use([OPlayer.ui(uiConfig)])
    .create();
    
    </script> 
    <script>

    

        const videolink = window.location.href;
        const  lazyLink = videolink.replace("/watch/", "/");

        function vlc_player() {
            const openLazyLink = lazyLink;
            const openVlc = `vlc://${openLazyLink}`;
            window.location.href = openVlc;
        }
            
        function mx_player() {
            const openLazyLink = lazyLink;
            const openMx = `intent:${openLazyLink}#Intent;package=com.mxtech.videoplayer.ad;end`;
            window.location.href = openMx;
        }
        
        function playit_player() {
        const openLazyLink = lazyLink;
        const openPlayit = `playit://playerv2/video?url=${openLazyLink}`;
         window.location.href = openPlayit;
        }
            
        function s_player() {
            const openLazyLink = lazyLink;
            const openSplayer = `intent:${openLazyLink}#Intent;action=com.young.simple.player.playback_online;package=com.young.simple.player;end`;
            window.location.href = openSplayer;
        }
            
        function km_player() {
           const openLazyLink = lazyLink;
           const openKmplayer = `intent:${openLazyLink}#Intent;package=com.kmplayer;end`;
           window.location.href = openKmplayer;
        }
        
        function hd_player() {
           const openLazyLink = lazyLink;
           const openHDplayer = `intent:${openLazyLink}#Intent;package=uplayer.video.player;end`;
           window.location.href = openHDplayer;
        }
            
        function lazyDownload() {
            const openLazyLink = lazyLink;
            window.location.href = openLazyLink;
        }

    
    </script> 
    <script>

    


    // Select the element with the specified id
    const textElement = document.getElementById('checktxt');

    // Get the text content from the selected element
    const text = textElement.textContent.trim().toLowerCase();

    // Specify the words you want to check for
    const resolutionKeywords = ['2160p', '1440p', '1080p', '720p', '480p', '360p', '240p'];
    const languageKeywords = ['Malayalam', 'Tamil', 'Hindi', 'Telugu', 'Kannada', 'English', 'Multi Audio'];
    const formatKeywords = ['mkv', 'mp4', 'avi', 'mp3'];

    // Container to display the extracted information
    const fileInfoContainer = document.getElementById('fileinfo');

    // Arrays to store extracted information
    const yearArray = text.match(/\b\d{4}\b/) ? [text.match(/\b\d{4}\b/)[0]] : ['N/A'];
    const formatArray = formatKeywords.filter(word => text.includes(word.toLowerCase()));
    const resolutionArray = resolutionKeywords.filter(word => text.includes(word.toLowerCase()));
    const languageArray = languageKeywords.filter(word => text.includes(word.toLowerCase()));

    // Create list items for each extracted information
    const createListItems = (infoArray, infoName) => {
    const listItem = document.createElement('li');
    const spanElement = document.createElement('span');
    spanElement.textContent = `${infoName}:`;
    listItem.appendChild(spanElement);
    if (infoArray.length > 0) {
        listItem.innerHTML += ` ${infoArray.join(', ')}`;
    } else {
        listItem.innerHTML += ' N/A';
    }
    fileInfoContainer.appendChild(listItem);
    };

    // Display extracted information
    createListItems(yearArray, 'Year');
    createListItems(formatArray, 'Format');
    createListItems(resolutionArray, 'Resolution');
    createListItems(languageArray, 'Language');

    
    </script>
  </body>
	    </html>
     